In [16]:
import pandas as pd
import numpy as np

import datetime

import matplotlib.pyplot as plt
import seaborn as sns

In [260]:
train = pd.read_csv('train.csv')
print train.shape
train.head(1)

(10506, 12)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0

In [261]:
train['Date'] = pd.to_datetime(train['Date'])

In [14]:
spray = pd.read_csv('spray.csv')
print spray.shape
spray.head()

(14835, 4)

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [33]:
spray['Date'] = pd.to_datetime(spray['Date'])
spray['year'] = spray['Date'].apply(lambda x: x.year)
spray['year'].value_counts()

2013    12626
2011     2209
Name: year, dtype: int64

In [184]:
weather = pd.read_csv('weather.csv')
print weather.shape
weather.head()

(2944, 22)

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [186]:
len(weather.Date.unique())

1472

In [187]:
weather['Date'] = pd.to_datetime(weather['Date'])
#weather['year'] = weather['Date'].apply(lambda x: x.year)
#weather['year'].value_counts()

In [188]:
len(weather.Date.unique())

1472

In [44]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed,year
0,1,2011-08-29,83,50,67,14,51,56,0,2,...,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2,2011
1,2,2011-08-29,84,52,68,M,51,57,0,3,...,M,M,M,0.00,29.18,29.82,2.7,25,9.6,2011
2,1,2011-08-29,59,42,51,-3,42,47,14,0,...,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4,2011
3,2,2011-08-29,60,43,52,M,42,47,13,0,...,M,M,M,0.00,29.44,30.08,13.3,2,13.4,2011
4,1,2011-08-29,66,46,56,2,40,48,9,0,...,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9,2011

In [45]:
from sklearn.preprocessing import Imputer

In [189]:
station_01 = weather[weather['Station']==1]
station_01 = station_01.drop(['Water1', 'CodeSum'], axis = 1)

In [209]:
station_01 = station_01.replace({'M': np.nan}, regex=True)
station_01 = station_01.replace({'T': np.nan}, regex=True)

In [215]:
station_01['Tavg'] = station_01['Tavg'].astype(int)

In [227]:
station_01 = station_01.convert_objects(convert_numeric=True)

/Users/jayecribb/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [228]:
weather_pivot = pd.pivot_table(station_01, index = 'Date')

In [235]:
weather_pivot = pd.pivot_table(station_01, index = 'Date')
weather_pivot.columns
index = weather_pivot.index

In [237]:
from sklearn.preprocessing import Imputer

im = Imputer()
weather_imputed = pd.DataFrame(im.fit_transform(weather_pivot), columns=weather_pivot.columns)

In [265]:
weather_imputed = weather_imputed.set_index(index)
weather_imputed.reset_index(inplace=True)

In [267]:
merged = train.merge(weather_imputed, on = 'Date')

In [270]:
merged.shape

(10506, 31)